@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: 'Poppins', sans-serif;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* animation key */
@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.cont-img>.img-box{
    position: relative;
}
.cont-img>.img-box::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px dotted gray;
    left: calc(17% - 22px);
    top: calc(50% - 50px);
    animation: spin01 10s linear infinite;
}
.cont-img >.img-box p{
    position: absolute;
    left: 22%;
    top: 50%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 35px;
    font-family: 'Great Vibes', cursive;;
    font-weight: bold;
    color: white;
}